{% extends 'bases/base.html' %}
{% load static %}
{% block title %} Overview {% endblock title %}
{% block main_content %}
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Profile Header-->
            {% include 'includes/profile_header.html' %}
            <!--end::Profile Header-->
            <!--begin::details View-->
            <!--begin::Feeds Widget -->
            <div id="newsFeed_section">
                {% for post in posts %}
                    {% with post=post %}
                        {% include 'forum/post_section.html' %}
                    {% endwith %}

                {% endfor %}
            </div>
            <!--end::details View-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
{% endblock main_content %}
{% block extra_js %}
    <script>
        function uploadPost() {
            {#let text_content = $('#kt_forms_widget_1_editor').text();#}
            let text_content = $('#post_text').val();

            if (text_content == '' && $('#post_pic')[0].files.length === 0) {
                $('#post_error').text("Empty post");
                return;
            } else {
                $('#post_error').text('')
            }
            var data = new FormData();
            data.append("csrfmiddlewaretoken", "{{ csrf_token }}")
            data.append("text_content", text_content);
            data.append("post_media", $("input[id^='post_pic']")[0].files[0]);

            $.ajax(
                {
                    url: '{% url 'upload_post' %}',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    mimetype: "multipart/form-data",
                    data: data,
                    datatype: 'JSON',
                    success: function (response) {
                        console.log(response);
                        $('#newsFeed_section').prepend(response)
                        $('#post_text').val('')
                        {#TODO after posting refresh the post content area#}

                    }
                }
            );
        }

        function addComment(post) {
            var content = $('#comentbox' + post).val();
            if (content == '') {
                $('#comment_error').text("Can not post Empty Comment");
                return
            } else {
                $('#comment_error').text('')
            }
            $.ajax(
                {
                    url: '{% url 'add_comment' %}',
                    data:
                        {
                            'post': post,
                            'content': content,
                        },
                    datatype: 'JSON',
                    success: function (response) {
                        $('#comment_section' + post).append(response)
                        $('#comentbox' + post).val('')
                    },
                    error: function (response) {
                        console.log(response)
                    }

                }
            );
        }

        function addVote(post, vote) {

            $.ajax(
                {
                    url: '{% url 'add_vote' %}',
                    data: {
                        'post': post,
                        'vote': vote,
                    },
                    datatype: 'JSON',
                    success: function (response) {
                        console.log(response)
                        {#$('#upvote' + post).text('hey there')#}
                        $('#upvote' + post).text(response.upvote);
                        $('#downvote' + post).text(response.downvote);


                        console.log();
                        {#var count = document.querySelector('')#}
                    }
                }
            );
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                {#$('#temp-view').removeAttr(hidden);#}
                reader.onload = function (e) {
                    $('#temp-view').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        {#$("#post_pic").change(function () {#}
        {#    readURL(this);#}
        {# });#}
    </script>
{% endblock extra_js %}